sub{
    display: block;
    margin-bottom: 30px;
}
input, select{
    margin: 5px 20px 20px 20px;
    font-size: 17px;
    font-family: cursive;
    border: 1px solid black;
}
button{
    margin: 20px;
    font-size: 20px;
}
input[type="checkbox"]{
    margin: 0;
}