{% extends "base.html" %}

{% block content %}
<div id="tabella_archivio">
<h1>Volumi / <a href="/archivio/manga">Manga</a></h1>
    <table style="width: 1000px;">
        <tr>
            <th>Titolo</th>
            <th>Numero pagine</th>
            <th>Manga</th>
            <th>Edizione</th>
            {% if (logged) %}
            <th>Posseduto</th>
            {% endif %}
        </tr>
        {% for row in rows %}
        <tr>
            <td><a href="/archivio/volumi/{{ row.Titolo }}"><b class="titolo_volume">{{ row.Titolo }}</b></a></td>
            <td> {{ row.N_Pagine }}</td>
            <td> {{ row.Nome }}</td>
            <td> {{ row.Edizione }}</td>
            {% if (logged) %}
            <td>
                <input class="checkboxPosseduto" type="checkbox">
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block js %} {% if (logged) %}
<script src="/static/scripts/archivio_volumi.js"></script>
{% endif %} {% endblock %}