{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/styles/collezione.css">
{% endblock %}

{% block content %}
<h1>Collezione</h1>
<div id="collezione">
    <div id="scaffale">
        {% for manga in mangaPosseduti %}
            <div class="raccoglitore_manga">
                <h2><a href="/archivio/manga/{{ manga.Nome }}">{{ manga.Nome }}</a></h2>
            </div>
        {% endfor %}
    </div>
    {% for manga in mangaPosseduti %}
    <div class="lista_volumi_manga">
        {% for volume in volumiPosseduti %}
            {% if (volume.Nome_Manga == manga.Nome) %}
                <div class="singolo_volume">
                    <p>{{ volume.N_Volume }}</p>
                    <img class="immagine_volume_ridotta" src="{{ volume.Path }}/{{ volume.NomeFile }}" alt="Copertina {{ volume.Titolo }}">
                    <a href="/archivio/volumi/{{ volume.Titolo }}"><b>{{ volume.Titolo }}</b></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="/static/scripts/collezione.js"></script>
{% endblock %}