{% extends "base.html" %}

{% block content %}
<p>
    Priorità 1: Introduzione con obiettivo del sito e funzionalità<br>
    Quando si parla di archivio manga -> esempi di link consultabili per:
    Dragonball, Big Three (One Piece, Naruto, Bleach) <br>
    Piccole nozioni base per collezionisti (cosa sono Shonen, Shoujo, Seinen, chicche sulla cultura asiatica) <br>
    "Raccoglili tutti!" <br>

    Priorità 2: Logout <br>

    Priorità 3: inserisci le copertine dei manga (copertina_volume -> copertina, relazione con entità manga)
    aggiungile poi alla pagina di presentazione dei singoli manga e nelle collezioni <br>

    Priorità 4: possibilità di modificare i dati del profilo da loggato <br>

    Priorità 5: ricerca volumi e manga specifici <br>

    Priorità 6: aggiungi tutti i volumi di un manga sempre con spunta nell'archivio (se si possiedono già alcuni volumi, solo quelli mancanti) <br>

    Priorità 7: errori server dettagliati <br>
</p>
{% endblock %}