{% extends "base.html" %}

{% block content %}
<p>
    Priorità 1: Introduzione con obiettivo del sito e funzionalità<br>
    Quando si parla di archivio manga -> esempi di link consultabili per:
    Dragonball, Big Three (One Piece, Naruto, Bleach) <br>
    Piccole nozioni base per collezionisti (cosa sono Shonen, Shoujo, Seinen, chicche sulla cultura asiatica) <br>
    "Raccoglili tutti!"

    Priorità 2: inserisci le copertine dei manga (copertina_volume -> copertina, relazione con entità manga)
    aggiungile poi alla pagina di presentazione dei singoli manga e nelle collezioni

    Priorità 3: possibilità di modificare i dati del profilo da loggato
</p>
{% endblock %}