{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/styles/login_registrazione.css">
{% endblock %}

{% block content %}
<h1>Login</h1>
<h3 style="margin-bottom: 30px;">{{ unauthorized }}</h3>
<form id="form_login">
    <div>
        <label for="input_nickname">Nickname:</label>
        <input type="text" name="nickname" id="input_nickname" minlength="1" maxlength="40" required>
    </div>
    <div>
        <label for="input_password">Password:</label>
        <input type="password" name="password" id="input_password" maxlength="64" required>
    </div>
    <button type="submit">Accedi</button>
</form>
<p id="display_risposta"></p>
<p>Non hai un account? <a href="/registrazione">Registrati</a></p>
{% endblock %}

{% block js %}
<script src="/static/scripts/login.js"></script>
{% endblock %}