{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/styles/info_volume_manga.css">
{% endblock %}

{% block content %}
<div id="overview_manga">
    {% for m in manga %}
    <h1>{{ m.Nome_Manga }}</h1>
    <img class="immagine" src="{{ m.Path }}/{{ m.NomeFile }}" alt="Copertina {{ m.Nome_Manga }}">
    <div id="info">
        <p><b>ID: </b>{{ m.ID_Manga }}</p>
        <p><b>Edizione: </b>{{ m.Edizione }}</p>
        <p><b>A Colori: </b>
            {% if (m.A_Colori) %} Sì {% else %} No {% endif %}
        </p>
        <p><b>Contenuti Extra: </b>
            {% if (m.Contenuti_Extra) %} Sì {% else %} No {% endif %}
        </p>
        <p><b>Genere: </b>{{ m.Genere }}</p>
        <p><b>Autore/i: </b>
            {{ m.Nome_Autore }} {{ m.Cognome_Autore }} 
            {% if (m.Pseudonimo_Autore != NULL) %} ({{ m.Pseudonimo_Autore }}) {% endif %}
        </p>
        <p><b>Artista/i: </b>
            {{ m.Nome_Artista }} {{ m.Cognome_Artista }} 
            {% if (m.Pseudonimo_Artista != NULL) %} ({{ m.Pseudonimo_Artista }}) {% endif %}
        </p>
        <p><b>Editore: </b>{{ m.Nome_Editore }}</p>
    </div>
    {% endfor %}
</div>

<h1>Volumi</h1>
<div class="lista_volumi_manga">
    {% for volume in volumi %}
    <div class="singolo_volume">
        <p>{{ volume.N_Volume }}</p>
        <img class="immagine_ridotta" src="{{ volume.Path }}/{{ volume.NomeFile }}" alt="Copertina {{ volume.Titolo }}">
        <a href="/archivio/volumi/{{ volume.Titolo_Volume }}"><b>{{ volume.Titolo_Volume }}</b></a>
    </div>
    {% endfor %}
</div>
{% endblock %}