{% extends "base.html" %}

{% block content %}
<h1>Registazione</h1>
<form id="form_di_registrazione">
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" id="input_nickname" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="input_password" required>
    </div>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
    </div>
    <div>
        <label for="cognome">Cognome:</label>
        <input type="text" name="cognome" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="data_di_nascita">Data di nascita:</label>
        <input type="date" name="data_di_nascita" required>
    </div>
    <div> 
        <label for="città">Città:</label>
        <input type="text" name="città" required>
    </div>
    <div>
        <label for="regione">Regione:</label>
        <input type="text" name="regione" required>
    </div>
    <button type="button" id="bottone_invio">Registrati</button>
    <p>Hai già un account? <a href="/login">Login</a></p>
</form>
<p id="display_risposta"></p>
{% endblock %}

{% block js %}
<script src="/static/registrazione.js"></script>
{% endblock %}