{% extends "base.html" %}

{% block content %}
<div id="overview_volume">
    {% for volume in campiVolume %}
    <h1>{{ volume.Titolo }}</h1>
    <img id="immagine_volume" src="{{ volume.Path }}/{{ volume.NomeFile }}" alt="Copertina {{ volume.Titolo }}">
    <div id="info">
        <p><b>ISBN: </b>{{ volume.ISBN }}</p>
        <p><b>Numero volume: </b>{{ volume.N_Volume }}</p>
        <p><b>Numero Pagine: </b>{{ volume.N_Pagine }}</p>
        <p><b>Manga: </b><a href="/archivio/manga/{{ volume.Nome_Manga }}">{{ volume.Nome_Manga }}</a></p>
        <p><b>Edizione: </b>{{ volume.Edizione }}</p>
    </div>
    {% endfor %}
</div>

<div id="rivenditori">
    <h1>Rivenditori</h1>
    <table id="tabella_rivenditori">
        <tr>
            <th>Nome</th>
            <th>Prezzo di vendita</th>
            <th>Usato</th>
            <th>Qualità</th>
            <th>Telefono</th>
            <th>Sito web</th>
        </tr>
        {% for riv in rivenditori %}
        <tr>
            <td>{{ riv.Nome_Rivenditore }}</td>
            <td>{{ riv.Prezzo }}</td>
            <td>{% if (riv.Usato) %} Sì {% else %} No {% endif %}</td>
            <td>{{ riv.Qualità }}</td>
            <td>{{ riv.Telefono }}</td>
            <td><a href="{{ riv.Sito_Web }}">{{ riv.Sito_Web }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block js %}
<script src="/static/scripts/volume.js"></script>
{% endblock %}